body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .calculator {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2;
    width: 300px;

    .results {
      width: 100%;
      height: 60px;
      background-color: #cccccc;
      font-size: 52px;
      margin-bottom: 10px;
      padding: 10px;
    }

    .numbers {
      margin-bottom: 10px;
      button {
        font-size: 24px;
        height: 80px;
        width: 97.2px;
        margin-bottom: 2px;
        background-color: rgb(53, 48, 103);
        color: white;
      }

      .zero {
        width: 100%;
      }
    }

    .operators {
      margin-bottom: 10px;

      button {
        font-size: 24px;
        height: 72px;
        width: 72px;
        background-color: aquamarine;
      }
    }

    .calculate {
      font-size: 24px;
      height: 50px;
      width: 100%;
      margin-bottom: 5px;
      background-color: aquamarine;
    }

    .clear {
      font-size: 18px;
      height: 50px;
      width: 100%;
    }
  }
}
