.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .calculator {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2;
    width: 200px;

    .results {
      width: 100%;
      height: 40px;
      background-color: #cccccc;
      font-size: 30px;
      margin-bottom: 10px;
      padding: 10px;
    }

    .numbers {
      margin-bottom: 10px;
      button {
        font-size: 20px;
        height: 60px;
        width: 64px;
        margin-bottom: 2px;
      }

      .zero {
        width: 100%;
      }
    }

    .operators {
      margin-bottom: 10px;

      button {
        height: 47px;
        width: 47px;
      }
    }

    .calculate {
      height: 40px;
      width: 100%;
      margin-bottom: 5px;
    }

    .clear {
      height: 40px;
      width: 100%;
    }
  }
}
